<%- include('paginas/_header'); -%>

<h1 class="ml-2">
  Clientes
</h1>
<div class="container">
<div class="row mt-5">
    <div class="col-md-7">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% if (clientes) { %>
                    <% for (var i = 0; i < clientes.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= clientes[i].clienteNome %></td>
                            <td><%= clientes[i].clienteEnde %></td>
                            <td><%= clientes[i].clienteTel %></td>
                            <td>
                                <a href="/clientes/delete/<%= clientes[i].clienteID %>" class="btn btn-danger">Excluir</a>
                                <a href="/clientes/update/<%= clientes[i].clienteID %>" class="btn btn-info">Atualizar</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <form action="/clientes/add" method="post">
                    <div class="form-group">
                        <input type="text" name="clienteCPF" placeholder="CPF" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="clienteNome" placeholder="Nome" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="clienteEnde" placeholder="Endereco" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="clienteTel" placeholder="Telefone" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="clienteCidade" placeholder="Cidade" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="date" name="clienteDataNasc" placeholder="Data de Nascimento" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="text" name="clienteCNH" placeholder="CNH" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label for="CNHCat">Selecione o tipo da CNH:</label>
                        <select class="form-control" name="clienteCNHCat" id="CNHCat">
                            <% for (var i = 0; i < categorias.length; i++) { %>
                                <option value="<%= categorias[i].catCod %>"><%= categorias[i].catNome %></option>
                            <% } %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Salvar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<%- include('paginas/_footer'); -%>