<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/editor.css">
    
    <!-- HEAD -->
<%- include('components/_head'); -%>
    <!-- !HEAD -->

    <title>Locadora | Usu치rios</title>
</head>
<body>
    <!-- HEADER -->
<%- include('components/_header'); -%>
    <!-- !HEADER -->

    <section id="main-content">
        <div id="editor" class="container">

            <div id="display" class="transparent-scroll">

                <table id="tabela" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Funcion치rio</th>
                            <th>Login</th>
                            <th>Setor</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if (usuarios) { %> <% for (var i = 0; i < usuarios.length; i++) { %>
                        <tr>
                            <td style="display: none;"><%= usuarios[i].usuarioID %></td>
                            <td><%= usuarios[i].funcionario.funcNome %></td>
                            <td><%= usuarios[i].usuarioLogin %></td>
                            <td><%= usuarios[i].departamento.deptoNome %></td>
                            <td><% if (usuarios[i].usuarioStatus) { %> Ativo <% } else { %> Desligado <% } %></td>
                        </tr>
                    <% } %> <% } %>
                    </tbody>
                </table>
            
            </div>
            <div id="controller">
                <button id="adicionarBtn" class="btn btn-primary" data-toggle="modal" data-target="#cadastro-modal">Adicionar</button>
                <button id="editarBtn" class="btn btn-primary" data-toggle="modal" data-target="#editar-modal">Editar</button>
                <button id="deletarBtn" class="btn btn-primary">Deletar</button>
            </div>

        </div>

        <!-- Modal, cadastrar -->
        <div class="modal fade" id="cadastro-modal" tabindex="-1" role="dialog" aria-labelledby="titulo-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titulo-modal">Cadastrar usu치rio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/usuarios/add" method="post">
                            <div class="form-group">
                                <input type="text" name="usuarioLogin" placeholder="Login" class="form-control" >
                            </div>
                            <div class="form-group">
                                <input type="password" name="usuarioSenha" placeholder="Senha" class="form-control" >
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="usuarioFuncMat">
                                    <% for (var i = 0; i < funcionarios.length; i++) { %>
                                        <option value="<%= funcionarios[i].funcMatricula %>"><%= funcionarios[i].funcNome %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="usuarioSetor">
                                    <% for (var i = 0; i < departamentos.length; i++) { %>
                                        <option value="<%= departamentos[i].deptoCodigo %>"><%= departamentos[i].deptoNome %></option>
                                    <% } %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Salvar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal, editar -->
        <div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="titulo-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titulo-modal">Editar funcion치rio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-editar" action="/usuarios/add" method="post">
                            <div class="form-group">
                                <input type="text" id="usuarioLogin" name="usuarioLogin" placeholder="Login" class="form-control" >
                            </div>
                            <div class="form-group">
                                <input type="password" id="usuarioSenha" name="usuarioSenha" placeholder="Senha" class="form-control" >
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="usuarioSetor" name="usuarioSetor">
                                    <% for (var i = 0; i < departamentos.length; i++) { %>
                                        <option value="<%= departamentos[i].deptoCodigo %>"><%= departamentos[i].deptoNome %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" name="usuarioStatus" type="checkbox" value="true" id="usuarioStatus">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Ativo:
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Salvar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"></script>
    <script src="/js/tabela_dados.js"></script>
    <script type="module" src="/js/usuarios.js"></script>
    <!-- FOOTER -->
<%- include('components/_footer'); -%>
    <!-- !FOOTER -->
</body>
</html>